.hg
.hgignore
*.sdf
*.pdb
*.obj
# *egg-info
# *.egg
*.suo
__pycache__
.idea/
.gradle/
build/
logs/
iTunesDLL/
local.properties
Cargo.lock
!.cargo

/TempSync/AtomConfig/compile-cache/
/TempSync/AtomConfig/.node-gyp/
/TempSync/AtomConfig/storage/

ImmPyCommands/*.pyc
ImmPyLibs/*.pyc
/TempSync/Vim/_font
/TempSync/Vim/_vimsize
/TempSync/Vim/_vimsize2
/TempSync/Vim/vim7*
Library/qt-wdk-4.8.0
Library/qt-win-sym-4.7.0
Library/boost
Library/WTL
Library/Qt
Library/DXSDK
Library/WTL80_7161_Final.zip
Source/Drivers
Source/Hooks/OllyDbgEx
Source/MyLibrary
Source/ShimEngine
Source/Falcom/src/
Source/Falcom/pkg/
/Source/Falcom/ZWEI2Plus/zw

Source/Test_Drv
Source/LocaleEmulator/LocaleEmulator/win32k_x64_win8.i64
Source/LocaleEmulator/LocaleEmulator/win32k_x64_win8.sys
Source/LocaleEmulator/LocaleEmulator/Loader.exe
Source/LocaleEmulator/LocaleEmulator/LocaleEmulator.dll
Source/LocaleEmulator/LocaleEmulator/LoaderDll.dll

/TempSync/ChromeUpdater/LATEST_CHANGE
/TempSync/ChromeUpdater/CHECK
/PyLibs/eric5*

/Source/WG/
/Library/.Net/FluorineFx/

/Source/Hooks/KrKr2Protect

/TempSync/SublimeText Packages/User/Package Control.last-run
/TempSync/SublimeText Packages/User/encoding_cache.json

/TempSync/SublimeText Packages/User/Package Control.cache
/TempSync/SublimeText Packages/User/Preferences.sublime-settings
/Source/Project/Glorius
/Library/qt-everywhere-opensource-src-5.3.0
/Source/Android/*/bin
/Source/Android/*/gen
/Source/Android/.metadata/.log
/Source/Android/.metadata/*/.log
/Source/Android/.metadata/.plugins/
/Source/Android/*/.settings/
/Source/Android/hookTaobao
/Source/Project/PythonProtector
/Source/Test_Con/python
/Source/Android/.metadata

/Source/Project/starsfutech
/Source/Project/PyInlineHook/python
/Source/Project/Gospel/
/Source/Project/Yukikaze/
/TempSync/SublimeText Packages/bz2/
/Source/iOS
/Source/Project/AppleIdRegister
/Source/Project/Glorius2

/*/.gradle/
/*/local.properties
/*/.idea/workspace.xml
/*/.idea/libraries
/*/.DS_Store
/*/build/
/*/captures
.gitignore
/TempSync/SublimeText Packages/User/GoSublime/windows-x32
/TempSync/SublimeText Packages/User/*.*-ca-bundle
/Source/GoProject/src/AppleIdRegister
/Source/GoProject/pkg
/Source/Project/AppleIdAuthorizer
/Source/Project/WindStockProj
/Source/GoProject/src/AppleIdAuthorizer
/Source/GoProject/src/AppleIdRegister2
/Source/GoProject/src/iTunesTool/
/Source/GoProject/src/mail_register/

/TempSync/AtomConfig/.apm/_git-remotes/
/Source/sources
/PyLibs/lldb/*.pyd
/PyLibs/lldb/*.exe
/TempSync/AtomConfig/.apm
/TempSync/VSCodeUserData/extensions

/Source/Project/ClashOfKings/
/Source/Project/WeChat/
/Source/Project/bettor
/Source/Project/netease.mailmaster
/Source/Project/QQProtocol
/Source/GoProject/src/inke_client
/Source/Project/JDBClient
/Source/GoProject/src/WeChat
/Source/Project/ASO
/Source/Android/ZjDroid
/Source/GoProject/src/video_downloader/vendor
/Source/GoProject/src/lantern
/Source/Project/iTunesHelper
*.VC.db
/TempSync/VSCodeUserData/workspaceStorage/
/TempSync/AtomConfig/packages
/Source/Falcom/Decompiler2/.vscode/.ropeproject
